.ellipsis-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.status-danger {
    background-color: #fecaca;
    color: #ef4444;
    padding: 8px 12px;
    border-radius: 4px;
}